<div class="flex flex-col items-center my-8">
    {% if section.settings.title !=blank %}
        <h1 class="text-3xl my-8 md:my-16">{{ section.settings.title }}</h1>
    {% endif %}
    {% form 'contact' %}
        <div class="max-w-6xl mx-auto py-3">
            {% if form.errors %}
                    
                <div class="border p-5">
                    <div class="flex flex-row items-center w-full my-3">
                        <div class="text-red-500">
                            {% render 'icon-failed' %}
                        </div>
                        <div class="text-sm font-medium ml-3">
                            <p class="text-red-500">Oh No! Your Message is not Sent</p> 
                        </div>
                    </div>
                    <ul class="px-4 ml-7 list-none mb-3">
                        {% for error in form.errors %}
                            <li>
            
                                <span> {{ form.errors.messages[error] }}</span>
                               
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                {% elsif form.posted_successfully? %}
                    <div class="border p-5">
                        <div class="flex flex-row items-center w-full my-3">
                            <div class="text-green-500">
                                {% render 'icon-success' %}
                            </div>
                            <div class="text-sm font-medium ml-3">
                                <p class="text-green-500">Your message is send successfully !</p>
                            </div>
                        </div>
                    </div>
            {% endif %}
            <div class="flex gap-4">
                <div class="md:w-1/2">
                    <label for="contact_name" class="uppercase text-sm text-gray-400 font-medium">Name</label>
                    <input class="w-full px-3 py-2 mb-3 border bg-white" type="text" name="contact[name]">
                </div>
                <div class="md:w-1/2">
                    <label for="contact_name" class="uppercase text-sm text-gray-400 font-medium">Email Address</label>
                    <input class="w-full px-3 py-2 mb-3 border bg-white" type="email" name="contact[email]">
                </div>
            </div>
            <div class="flex flex-col mb-3">
                <label for="message" class="uppercase text-sm text-gray-400 font-medium">Message</label>
                <textarea name="contact[body]" id="message" class="resize-none h-20 w-full p-3 border outline-none"></textarea>
                
            </div>
            <div class="flex flex-col mb-3">
                <input type="submit" value="Send Message" class="w-full bg-gray-700 text-white hover:bg-gray-500 cursor-pointer text-base px-3 py-3 mb-3">
            </div>
           
        </div>
    {% endform %}
</div>

{% schema %}
    {
        "name": "Contact Form",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Contact Title"
            }
        ],
        "presets": [
            {
                "name": "Contact Form"
            }
        ]
    }
{% endschema %}