{% paginate collection.products by 6 %}
    {% for product in collection.products %}
        {% if product.featured_image %}
            <img src="{{ product.featured_image |  img_url: 'medium' }}" alt="product.featured_image.alt">
            <a href="{{ product.url }}">{{ product.title }}</a>
            </a>
            {% else %}
            <p>There are no products inside this collections</p>
        {% endif %}
        
    {% endfor %}
    {% render 'pagination', pagination:paginate %}
{% endpaginate %}